*{margin: 0px}

body,html{
    height: 100%;
    width: 100%;
    background-color: #005395;
}
/* Header */
.header{
    position: fixed;
    height: 12vh;
    width: 100%;
    background-color: white;
    -webkit-box-shadow: 0px 15px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 15px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 15px 10px 0px rgba(0,0,0,0.2);
}
.header img{
    height: 10vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.navbar{
    position: absolute;
    top: 50%;
    left: 75vw;
    transform: translate(-50%, -50%);  
}
.navbar a{
    color: #005395;
    margin-left: 2vw;
    text-decoration: none;
}

/* Produtos */

.produtos{
    position: absolute;
    height: 100%;
    width: 100%;
}

.product-grid{
    position: absolute;
    display: flex;
    height: 30vh;
    align-content: space-between;
    top: 10vh;
    left: 50%;
    transform: translate(-50%, -50%); 
    margin-top: 20vh;
}
.product-grid .produto{
    position: relative;
    height: 70vh;
    width: 30vh;
    background-color: white;
    margin: 5vh
}

.produto img{
    height: 30vh;
    width: auto;
    position: relative;
    top: 15vh;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 11;
}

.produto .nome{
    font-size: 3vh;
    position: relative;
    margin: 2vh;
}

.produto .descricao{
    font-size: 2vh;
    position: relative;
    margin: 2vh;
}

.produto .preco{
    font-size: 2vh;
    position: relative;
    margin: 2vh;
}

.produto .comprar{
    position: relative;
    bottom: -5vh;
    height: 5vh;
    background-color: #080CA1;
    width: 100%;
}
.produto .fundo{
    position: absolute;
    width: 14.9vw;
    height: 30vh;
    top: 15vh;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 10;
    background-color: #080CA1;
}

.comprar p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: white;
}